[Unit]
Description=LA_post_informer
Requires=lida13-bot.service

[Timer]
Unit=lida13-bot.service
OnCalendar=*-*-* *:10:*
OnCalendar=*-*-* *:30:*
OnCalendar=*-*-* *:50:*

[Install]
WantedBy=timers.target